# Build Folders
bin/
obj/

# Rider
.idea/
.idea_modules/

# User-specific files
*.suo
*.user
*.rsuser
*.userprefs
*.userosscache
*.sln.docstates

# Visual Studio
*.vs/
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb
*.dbmdl
*.dbproj.schemaview
*.pdb

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
*.nuget
*.snupkg
packages/
*.nuspec
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# DotNet
project.lock.json
project.json
*.DotSettings
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/

# Generated test files
TestResults/

# Build directories
artifacts/

# Others
*.cache
*.tmp
*.temp
*.log
*.swp
*.swo
*.bak
